<%- include("partials/header") -%>



<div class="profile-body">
    <form class="profile-box" method="post">
        <h3>Bio</h3>
        <textarea class="bio" name="bioPara" rows="4" cols="50"></textarea>
        <a href="/profile" ><input type="submit"  value="Save"></a>
    </form>
</div>



<%- include("partials/footer") -%>