<%- include('partials/header') -%>

<div class="form">
    <form class="auth-box"  method="post">
        <h1>Login</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="" value="Login">
        <p>Not Registered? <a href="/signup">SignUp</a></p>
    </form>
</div>




<%- include('partials/footer') -%>